@media (min-width:320px) {
  .card_wrapper{
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
  }


}

@media (min-width:760px) {
  
  

}