
@media (min-width:320px) {

  .wrapper{
    padding-bottom: 25px;
  }

  h4{
    font-weight: 200;
    padding-bottom: 10px;
  }

  .btn_remove{
    padding: 5px 10px;
    border: 2px solid tomato;
    border-radius: 6px;
    background-color: transparent;
    letter-spacing: 0.3px;
  }
}