
@media (min-width:320px) {
  
  .wrapper{
    width: 280px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }


}

@media (min-width:760px) {
  
.wrapper{
  width: 740px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

}